input[type="text"],
input[type="number"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-bottom: 0;
}

input[type="submit"] {
  background-color: #45a049;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

input[type="radio"] {
  cursor: pointer;
}

.form-container h1 {
  text-align: center;
  color: #4caf50;
  font-size: 25px;
}

.form-container label {
  margin-bottom: 10px;
}

.main-container {
  width: 100%;
}

.form-container {
  border-radius: 5px;
  background-color: black;
  padding: 20px;
  margin: 0 auto;
  width: 33%;
  margin-top: 10px;
  color: aliceblue;
  margin-right: 2px;
  float: left;
  box-sizing: border-box;
}

.select-box {
  color: black;
}

.disabled {
  opacity: 0.4;
  pointer-events: none;
}
