.nav-bar {
  overflow: hidden;
  background-color: #333;
}

.nav-bar ul {
  list-style: none;
}

.nav-bar ul li {
  display: inline-block;
}

.nav-bar li a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  padding: 8px 16px;
}

.nav-bar li a.active {
  background-color: #4caf50;
  color: white;
}
